<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>登录页</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="iOS 7 Login And Register App Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<!-- <link href="stylesheets/style.css" rel='stylesheet' type='text/css' /> -->
<link href="https://cdn.bootcss.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
<!--//webfonts-->
</head>
<body>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">账号</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="account" placeholder="请输入账号">
      </div>
    </div>
    <div class="form-group">
      <label for="lastname" class="col-sm-2 control-label">密码</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="password" placeholder="请输入密码">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox">请记住我
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-default" onclick="login()">登录</button>
      </div>
    </div>
  </form>
</body>
<script src="https://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function login() {
      var data = {
        account: $('#account').val(),
        password: $('#password').val()
      }
      $.ajax({
        type: 'POST',
        url: './login',
        data: data,
        dataType: 'json',
        success: function (result) {
          if (result.status === 100) {
            window.location.href="/";
          } else {
            alert('账号或密码错误');
          }
        },
        error: function(err){
          alert(JSON.stringify(err));
        }
      });
    }
</script>
</html>